a:link{text-decoration:none; color:#3a8d8c}
a:visited{color:#8a6c94;}
a:hover{color:#00b8a9}

span.normal{font-size:15px; font-weight:normal}

span.bignormal{font-size:25px; font-weight:bolder}

span.white{font-family:"Poppins"; font-size:60px; color:white}

span.white2{font-family:"Poppins"; font-size:30px; color:white}

span.boldblack{color:#e8edea; font-weight:bolder}

table{font-family:"Work sans"; color:#2C3E50}
